/*
    CSS STYLES
    These are the default styles for the buildout.
*/

/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
/* UTILITIES */
/* hides an element on screen, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* COLORS */
/* Use color variables so it's easier to change colors later */
/* Will create a warning in the W3C CSS validator */
/* Ignore that - CSS variables are fine to use */

/*
    TYPOGRAPHY
*/
p { /* body copy */
    font-family: 'Sometype Mono';
    font-size: 16px;
    font-weight: 300px;
    color: white;

}

h1 {
    font-family: 'Luxurious Script', cursive;;
    font-weight: 500;
    font-size: 400px;
    line-height: 200px;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    color: white;
    justify-content: center; /* Horizontally centers the content */
    padding-top: 250px; /* Adjust the value as per your requirement */

}


h2 { /* second headline */
    padding: 20vh 0 0.75em;
    font-family: 'Libre Baskerville', serif;
    font-size: 150px;
    font-weight: 700;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    justify-content: center; /* Horizontally centers the content */
    padding-top: 250px; /* Adjust the value as per your requirement */
    padding-bottom: 25px;
    color: white;
}
h3 { /* section header */
    font-size: 28px;
    line-height: 30px;
    margin: 1.3em 0 0.55em;
    font-size: bold;
}

h4 {
    /* Existing styles */
    font-weight: 300;
    font-size: 20px;
    color: black;
    line-height: 23px;
    text-align: right;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative; /* Add relative positioning to the h4 for absolute positioning of pseudo-elements */

    /* Add padding to the lines using pseudo-elements */
    padding-left: 10px; /* This adds left padding to the lines */
}

h4::before,
h4::after {
    content: ''; /* Required content property for pseudo-elements */
    position: absolute; /* Position the lines relative to the h4 */
    left: 10px; /* Adjust the left position based on the padding you've set */
    right: 10px; /* Adjust the right position based on the padding you've set */
    height: 2px; /* Thickness of the lines */
    background-color: black; /* Color of the lines */
}

/* Top line */
h4::before {
    top: 10px; /* Position it at the top */
}

/* Bottom line */
h4::after {
    bottom: -10px; /* Position it just below the text. Adjust this value as needed. */
}

h5 {
    /* Existing styles */
    font-weight: 300;
    font-size: 20px;
    color: white;
    line-height: 40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

h6 { /* footer1*/
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

}

h7 { /* footer2 */
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #D6B464;
    margin-top: 100px;

}

h8 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 5px;
    text-align: center;
    color: black;
    font-style: italic;

}


h5 {
    /* Existing styles */
    font-weight: 300;
    font-size: 20px;
    color: white;
    line-height: 23px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

h9 { /* navbar dark yellow*/
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    top: 5.8px;
    color: #C0B800;
}

h10 {  /*Subheadlines*/
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 16px;
    text-align: center;
    color: black;
    font-style: italic;

}

h11 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 60px;
    text-align: left;
    font-style: bold;
    color: black;
    margin-bottom: 80px !important; /* Increased margin-bottom for more space */
}

h12 {
    font-weight: 300;
    font-size: 20px;
    color: black;
    line-height: 23px;
    text-align: left;
    margin-top: 80px !important; /* Increased margin-top for more space */
    margin-bottom: 20px !important;
}


.bylines p { /* bylines */
    font-size: 14px;
    line-height: 1;
    margin: 0.0em;
}
.bylines div p:nth-child(even) { /* adjust spacing for subbylines */
    margin-bottom: 0.6em;
}
.bylines div:after { /* add horizontal lines btwn byline divs */
    content: "";
    border: 1px solid var(--gray);
    width: 100%;
    height: 0;
    display: block;
    margin: 1.0em 0;
}
.related { /* related tag */
    padding: 1.0em 0;
    font-size: 0.95em;
}
.related span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
footer {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
}
.section-break { /* three asterisks */
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 25px;
    text-align: center;
}

/* navbar */
nav {
    color: black; /* Set your desired text color */
    position: fixed;
    width: 100%;
    z-index: 200;
    /*background-color: #F2EEE3;  Set your initial background color */
    /*border: 2px solid #F2EEE3; /* This adds a black border to the bottom of the nav */
    padding-top: -0.5px;
}

nav li {
    list-style-type: none;
    white-space: nowrap;
}

nav li a {
    margin: 0 0.5em;
    color: #F2EEE3; /* Set your desired text color */
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* This will evenly distribute the items horizontally */
    align-items: center; /* This will vertically center align the items */
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
}

/* styles for li items makes the spacing/alignment work on the menu */
/* also allows the responsive menu toggler behavior */
li.logo {
    margin-right: auto; /* put the logo on the left */
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
li.logo img {
    width: 50px;
    padding-right: 5px;
    margin-top: -7px;

}
li.logo span {
    display: none;
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
li.item {
    font-size: 18px;
    text-align: center;
}
li.item a {
    margin-top: 1em; /* Adjust this value to move the "ABOUT" text up */

}
li.toggle {
    /* show menu bar (toggle class) */
    display: block;
    cursor: pointer;

    margin-left: auto;
    margin-right: 10px;
    color: #F2EEE3;
    font-size: 16px;
}
nav a {
    /* so the ENTIRE item is clickable */
    display: block;
    
    /* design choices */
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #F2EEE3;
    opacity: 0.9;
}
/* hide all list items **that aren't logo or toggle** */
/*ul li:not(.logo):not(.toggle) {
    display: none;
}
ul div {
    display: none;
}
/* reveal hidden items (on toggle) 
/* force this display to take precedence and be more "!important" 
/* to display properly, also set the width to 100% 
.show {
    display: block !important;
    width: 100%;
    margin-bottom: 8px;
} */

/* 
    ARTICLE ALIGNMENT (flexbox added in larger view widths)
*/
article:first-child {
    padding-top: 5%;
}
section p:first-child {
    margin-top: 0;
}
.bylines {
    padding-top: 6.5px;
}

/* 
    PHOTOS
*/
.bio-img {
    display: box;
    width: 100%;
}

.big-image {
    padding-top: 25px;
    padding-bottom: 25px;
}
.small-image {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
    display: inline-block;
}
.wide-right {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: -40%;
    float: right;
    width: 80%;
}
.wide-left {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 25px;
    margin-left: -40%;
    float: left;
    width: 80%;
    text-align: left;
}
/* youtube embed styles 
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}*/
/* pulled quotes */
.pull-quote-center {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.quote {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
    text-align: center;
    font-style: italic;
    font-family: 'Georgia', serif;
    font-weight: 300;
}
.attribute {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: grey;
    margin-top: 0;
    text-align: center;
}

/*
    LINKS
*/
/* default link styles */
footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
    border-bottom: none;
}

footer a:hover,
footer a:active {
    color: white;
    border-bottom: none;
}

a:link, a:visited {
    color:white;
    text-decoration: none;
}

a:hover, a:active {
    color: white;
    border-bottom: none;
}


/* navbar social icons */
nav li a:link, nav li a:visited {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
nav li a:hover, nav li a:active {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
/* byline links  */
.bylines a:link, .bylines a:active {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
.bylines a:hover, .bylines a:visited {
    color: black;
    text-decoration: underline;
    border-bottom: none;
}

/*
    FOOTER
*/

/* Remove bullet and underline from list items */
.item {
    list-style-type: none;  /* Remove bullet from the li */
}

/* Remove underline from anchor tags inside .item */
.item a {
    text-decoration: none;  /* Remove underline from the anchor tags */
}

/* Remove underline on hover as well */
.item a:hover {
    text-decoration: none;  /* Remove underline on hover */
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .chart-container {
        max-width: 300px;
        margin: 0 auto; /* This will center the container if its width is less than the parent container */
    }

    h1 { /* first headline */
        padding: 35vh 0 0.75em;
        font-size: 50px;
        line-height: 50px;
        overflow-wrap: break-word;
    }

    h2 { /* second headline */
        padding: 10vh 0 0.75em;
        margin-top: -5em; /* Adjust the value to move the text up */
        font-size: 20px;
    }

    h5 { /* box head */
        font-weight: 700;
        font-size: 15px;
        line-height: 23px;
        text-align: center;
        color: #D6B464;
    }

    h6 { /* navbar */
        font-style: Times New Roman;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: left;
        margin-left: 0; 
        padding-left: 0;  /* If you want to ensure it's against the left edge, set padding-left to 0 */
    }

    h9 { /* navbar */
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: left;
        margin-left: 0; 
        padding-left: 0;  /* If you want to ensure it's against the left edge, set padding-left to 0 */
    }



    nav {
        padding-top: 0px;
        max-width: 100%;
    }

    nav ul {
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: left; /* This will evenly distribute the items horizontally */
        align-items: left; /* This will vertically center align the items */
        flex-flow: row nowrap; /* Prevents items from wrapping onto the next line */
        -webkit-align-items: center;
    }

    li.item a {
        margin-top: 0em; 
    }

    .item.dropdown {
        display: flex;            /* Make it a flex container */
        justify-content: left; /* Distribute items equally between edges */
        align-items: center;      /* Center items vertically */
        margin-right: 10px;       /* Add some right margin */
        margin-left: 0px; /* Push "THE SURVEY" to the right */
        margin: 0px;
        /* Additional styles as needed */
    }

    li.item {
        font-size: 18px;
        text-align: left;
    }

    /* photos */
    .big-image {
        width: 160%;
        padding-bottom: 30px;
        padding-top: 20px;
        margin-right: 30%;
        margin-left: -30%;
        display: inline-block;
    }
    /* pulled quotes */
    .pull-quote-center {
        width: 130%;
        margin-left: -15%;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .quote {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 0px;
        text-align: center;
        font-style: italic;
        font-family: 'Georgia', serif;
        font-weight: 300;
    }
    .attribute {
        font-size: 18px;
        padding-top: 5px;
        font-family: 'Inter', sans-serif;
        color: grey;
        margin-top: 0;
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

