/* 
    SET YOUR STYLES IN THIS FILE

    Important notes/reminders/resources:
    * The buildout template can be overwhelming. In my experience the best
      way to figure out how it works is to play around with the inspector
      in your browser on an old buildout and see how things work.
    * You shouldn't need to change any of the styles in the ids.css file — any
      styles added in this file will overwrite those ones if you want to change them.
      But looking through that file will give you a good idea of how the styles are
      working. 
    * Make sure to optimize images before you upload them to CEO or the load time will be massive
    * When working locally on your computer, use the file path of images to 
      insert them (for example: <img src="images/photo.jpg" alt="a photo">. 
      Once you're ready to publish with the IDS, you'll upload them
      into CEO and replace all those file paths with urls (editors will
      help you)
    * IMPORTANT When you're ready to input the story text in the buildout, run the 
      body copy through this python script: https://github.com/carsonology/p-tag-generator
      It will put a <p> tag around each paragraph so you can automatically paste
      the copy into the html file without typing so many p tags
    * If you're confused about Bootstrap, which is where the "col-md-6" classes
      come from, check out this site: https://getbootstrap.com/docs/5.1/getting-started/introduction/
    * Make sure to validate your HTML and CSS code to catch any errors
        HTML validator: https://validator.w3.org/
        CSS validator: https://jigsaw.w3.org/css-validator/
    * this buildout template is mobile first. that means design for a tiny screen in the 
      general styles, then adjust for desktop in the media queries (see the bottom of the file)
      More on mobile-first design: https://medium.com/@Vincentxia77/what-is-mobile-first-design-why-its-important-how-to-make-it-7d3cf2e29d00 
    
    *********************** IMPORTANT ***********************
    BEFORE YOU SUBMIT, GO THROUGH THIS CHECKLIST: https://docs.google.com/document/d/1eeYAbM9-GZbLrcd-WeJFzeNPrtXEYn-jIBtJbAGLvzc/edit?usp=sharing
*/

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
/* set any colors you plan to use throughout the buildout here */
/* then you can adjust the color value easily */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;

  body {
      background-color: #BCD5F8;
  }

}



header {
  /* add header image below */
  /* can use a file path before the photo is uploaded to ceo */
  background: url('https://iili.io/JR7sLIR.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /* adjusts image placement, can also be set as percentages */

  /* note: there are many alternative ways to style the header
      other than a photo and 2 headlines. 

      Here are some other IDS examples, you can inspect the code to 
      see how they did it: 

      Headlines that fade in: http://specials.idsnews.com/iu-kappa-kappa-gamma-sorority-hazing-big-little/
      Header with a video: http://specials.idsnews.com/bloomington-bluebird-bar-coronavirus-guidelines/
      Animated header: http://specials.idsnews.com/iu-president-michael-mcrobbie-speeches-gpt-2/
      Another animated/fade-in header: http://specials.idsnews.com/steve-moore-almost-died-coronavirus-bloomington/
      Header with multiple photos: http://specials.idsnews.com/what-wasnt-said-racism-indiana-university-bloomington-iu/
      Dramatic photo header: http://specials.idsnews.com/iu-coronavirus-testing/
      Cute animation header: http://specials.idsnews.com/will-your-mail-in-ballot-arrive-in-time-to-count-usps-election-2020/index.html
      Cool typography (from W+P): http://specials.idsnews.com/a-little-less-than-kind-iu-theater-bloomington/index.html
      Not full width header: http://specials.idsnews.com/how-iu-does-its-laundry/
  */
}

/*INTRO BOX*/
/* Ensure the container uses Flexbox and items are in a row */
.image-text-container {
display: flex;           /* Use flexbox for layout */
align-items: center;     /* Center items vertically */
}

/* CSS rule for the right alignment of text */
.right-align-text {
text-align: left;
margin-left: 10px;      /* Add some spacing between the image and text */
}

.text-container {
border: 1.5px solid #000; /* Add a border around the text container */
padding: 20px; /* Add some padding inside the border */
}


.smaller-image {
width: 20%;             /* Set width to 50% of its container */
height: auto;           /* Maintain aspect ratio */
padding-top: 40px;
padding-bottom: 40px;
padding-right: 80px;

}

.press-container {
display: flex;
flex-direction: row; /* Change to row so the items are side-by-side */
justify-content: center; /* align items vertically center */
align-items: center;     /* align items horizontally center */
background-color: lavender;
padding: 100px;       /* Add some padding for spacing */
}

.heading {
margin-bottom: 20px;     /* Add some space between heading and content */
margin-left: 20px;     /* Add some space between heading and content */
flex: 2;                  /* Take up available space */
text-align: center;         /* Align text to the left */
margin-top: 50px;         /* Add top margin to move the text down */
width: 83%
}

.content {
flex: 2;                  /* Take up more space than the heading */
display: flex;            /* Use flexbox */
flex-direction: row;   /* Stack children vertically */
align-items: center;      /* Center content horizontally */
text-align: left;         /* Align text to the left */
width: 70%;                /* Width for content to control its size */
margin-right: 50px;       /* Add margin to the right to move it slightly to the left */
}

.content p {
margin: 10px 0;           /* Add some vertical spacing between paragraphs */
}

.container {
  max-width: 100%;  /* Set a maximum width */
  margin-left: auto;  /* Auto margin on left and right to center it */
  margin-right: auto;
  padding-left: 15px; /* Add some padding on the left and right */
  padding-right: 15px;
  padding-top: 50px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.box {
width: 30%;
margin: 10px;
padding: 7px;
background-color: #8E6600;
border: 4px solid #000000;
text-align: center;
padding-top: 10px;
cursor: pointer;
transition: background-color 0.3s;
overflow-wrap: break-word; /* Alternative property for better word wrap */
}

.box:hover {
background-color: #F2EEE3;
}

.footer-logo {
max-width: 20%; /* Ensure the image doesn't exceed its container */
height: auto; /* Maintain the image's aspect ratio */
display: block; /* Remove extra space below the image */
margin: 0 auto; /* Center the image horizontally */
}

/* Optional: Add some space around the image */
.container {
padding-top: 4px;
padding-bottom: 8px;
}

/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  padding-top: 70px;
  max-width: 1000px;
  margin: auto;
  z-index: 1; /* Set a z-index value */
  position: relative; /* Position the container */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: lavender;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: lavender; /* Set the default background color */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: lavender;
}

/* Number text (1/3 etc) */
.numbertext {
  padding-top: 75px;
  color: lavender;
  font-size: 12px;
  padding-left: 8px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer .col-md-3 {
margin-top: 0;            /* Remove top margin if any */
padding-top: 0;           /* Remove top padding if any */
margin-bottom: 20px; /* Adjust the value for the desired space */
}


/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
/*@media (min-width: 576px) { 
  
} */

@media (max-width: 1000px) {
header {
  background: url('https://iili.io/JAQZh2s.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
}

/* Medium devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
  header {
      /* adjust header image positioning for larger devices if needed */
      /* you can also change the header image for mobile here */
      /* background-position: 50% 50%; 
  } 
}
*/


/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {

}
*/