

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
/* set any colors you plan to use throughout the buildout here */
/* then you can adjust the color value easily */
:root {
  /* --mycolor: #your color here; */
  --yiweiblue: #2B6BE6;

}

body {
  background-color:#2B6BE6;
  display: flex;
  justify-content: center;
}

nav {
  background-color: #2B6BE6;
  position: fixed; /* Ensure it's properly set */
  top: 0; /* Stick to the top of the viewport */
}

footer {
  margin-bottom: 8em;
}

/*MAIN ELEMENTS*/
/* Ensure the container uses Flexbox and items are in a row */

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5em; /* Adds space between the image and text containers */
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1500px;
}

/*bio image*/
.bio-img-container {
  flex: 1;
  display: flex;
  max-width: 440px; 
  max-height: 578px; 
  margin-top: -105px;
  overflow: hidden; /* Hides the parts of the image that overflow the container */
}

.bio-img {
  height: auto; /* Ensures the image scales proportionally */
  object-fit: cover; /* Crops the image to fill the container while maintaining its aspect ratio */
}

/*text*/
p { /* body copy */
  color: #FFF975;

}

.bio-text-container {
  flex: 2; /* Takes up more space */
  position: relative; /* Allows image to overlap */
  max-width: 483px; /* Ensures the text container has a maximum width */
  margin-top: -1em;
}

/* Text image for overlap effect */
.text-img {
  position: relative; /* Allows image to overlap */
  height: auto; /* Ensures proportional scaling */
  width: 20em; /* Fills container width */
  object-fit: cover; /* Crops the image to fit */
  left: -7em;
}

.text {
  margin-top: -70px; /* Adjust to control overlap */
  position: relative; /* Allows image to overlap */
  z-index: 1;
  max-width: 483px; /* Ensure the text container has a minimum width */
}



/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
/*@media (min-width: 576px) { 
  
} */

@media (max-width: 768px) {
  .bio-img-container {
    margin-top: 3em;
  }

  .text-img {
    left: 0em;
  }

  .box-container {
    justify-content: center;
    max-width: 90%;
    flex-direction: column; /* Stack items vertically */
    width: auto; /* Adjust width to fit the screen */
    gap: 2em; /* Reduce the space between items for a cleaner layout */
  }
}

/* Medium devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
}
*/


/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {

}
*/